body {
    background-color: #ffffcc;
    color: #330000;
    font-family: Verdana, Arial, sans-serif;
    background-image: url("/images/JavaJam/background.gif");
    background-repeat: repeat-x repeat-y;
}
/* HEADER AREA */
header {
    background-color: #ccaa66;
    color: #000000;
    background-image: url(/images/JavaJam/javalogo.gif); 
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    
}

audio {
    display: block;
    margin-top: 1em;
}

h1 {
    margin: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
}

h2 {
    background-color: #ffffcc;
    font-size: 1.2em;
    padding: 5px 0 0 5px;
    text-transform: uppercase;
    color: #663300;
    border-bottom: 1px solid #000000;
    margin-right: 20px;
    clear: left;
    
}

table {
    text-align: center;
    width: 90%;
    border-spacing: 0;
    background-color: #ffffcc;
}

td, th {
    padding: 10px;
}
tr:nth-of-type(odd) {
    background-color: #ccaa66;
}

/* FOOTER AREA */
footer {
    background-color: #ccaa66;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a:link{
    color: #ffffcc;

}

footer a:hover {
    color: #330000;
}

footer a:visited {
    color: #f2eab7;
}
/* NAVIGATION AREA */
nav {
    text-align: center;
    float: left;
    width: 100px;
    font-weight: bold;
    padding: 10px;
    
}

nav a {
    text-decoration: none;
    padding-bottom: 15px;
}

nav a:link {
    color: #996633;
}

nav a:visited {
    color: #ccaa66;
}

nav a:hover {
    color: #330000
}

nav ul {
    list-style-type: none;
}
/* WRAPPER AREA */
#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffcc;
    min-width: 700px;
    max-width: 1024p;
    box-shadow: 5px 5px 5px;
}

main {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 150px;
    background-color: #f2eab7;
    color: #000000;
    overflow: auto;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img {
    border-style: none;
}

.floatright {
    float: right;
    padding-left: 20px;
}

.floatleft {
    float: left;
    padding: 0 20px 20px 0;
}

header, nav, main, footer {
    display: block;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

label {
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 10px;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 12em;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        background-image: none;
    }
    #wrapper {
        width: auto;
        margin: 0;
        min-width: 0;
        box-shadow: none;
    }
    header {
        background-image: url(/images/JavaJam/javalogomobile.gif);
        background-position: center;
        height: 80px;
        background-repeat: no-repeat;
    }
    nav {
        float: none;
        width: auto;
        padding-top: 0;
        margin-top: 0;
    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding: 1em;
        font-size: 1.3em;
        width: 8em;
        font-weight: bold;
        border-style: none;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    main {
        padding: 2em;
        margin: 0;
        font-size: 90%;
    }
    
}
@media only screen and (max-width: 768px) {
    nav a{
        display: block;
        padding: 0.2em;
        width: auto;
        border-bottom: 1px solid #330000;
    }
    nav li {
        display: block;
    }
    h2 {
        padding-top: 0.5em;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0.5em;
        margin-right: 0.5em;
    }
    .details {
        padding-left: 0;
        padding-right: 0;
    }
    .floatright {
        display: none;
    }
    .floatleft {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    #mobile {display: inline;}
    #desktop {display: none;}
}