body {
    background-color: #6699ff;
    color: #d5e3ff;
    font-family: Verdana, Arial, sans-serif;
    background-image: url(/images/FishCreek/gradientblue.jpg);
    background-repeat: repeat-x
}
main {
    margin-left: 180px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

header {
    background-color: #000066;
    color: #FFFFFF;
    background-image: url(/images/FishCreek/bigfish.gif);
    background-repeat: no-repeat;
    background-position: center;
    
}

h1 {
    text-align: center;
    font-size: 3em;
    padding: 10px;
    line-height: 150%;
    text-shadow: 2px 2px #CCCCCC;
}

nav {
    font-weight: bold;
    float: left;
    width: 150px;
}

table {
    border: 2px solid darkblue;
    border-collapse: collapse;
}

td, th {
    padding: 0.5em;
    border: 1px solid darkblue;
}

.category {
    font-weight: bold;
    background-color: #FFFFFF;
    color: #003366;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #666;
}

footer {
    font-size: .70em;
    font-style: italic;
    padding: 10px;
    margin-left: 180px;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 700px;
    max-width: 1024px;
    background-color: #FFFFFF;
    color: #000066;
}

img {
    border-style: none;
}

footer nav {
    text-align: left;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #3262A3;
}

nav a:visited {
    color: #6699FF;
}

nav a:hover {
    color: #CCCCCC;
}

header, nav, main, footer {
    display: block;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

label {
    width: 8em;
    text-align: right;
    float: left;
    display: block;
    padding-right: 10px;
}

#mySubmit {
    margin-left: 10em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
        background-image: none;
        padding: 0;
    }
    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
    }
    h1 {
        margin: 0;
        text-align: center;
        font-size: 2em;
        line-height: 200%;
    }
    nav {
        float: none;
        width: auto;
    }
    nav li {
        display: inline-block;
    }
    nav {
        padding: 1em;
        border-style: none;
        font-size: 1.2em;
    }
    nav ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    main {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    dd {
        margin-bottom: 1em;
    }
    footer {
        margin: 0;
    }
}
@media only screen and (max-width: 768px) {
    header {
        background-image: url(/images/FishCreek/lilfish.gif);
        background-position: center;
        background-repeat: no-repeat;
    }
    h1 {
        font-size: 1.5em;
        line-height: 120%;
    }
    
    nav a {
        display: block;
        padding: 0.2em;
        font-size: 1.3em;
        border-bottom: 1px solid #330000;
    }
    nav li {
        display: block;
    }
    nav ul {
        text-align: left;
    }
    main {
        padding-left: 0.4em;
    }
    .category {
        text-shadow: none;
    }
    footer {
        padding-left: 0;
    }
    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}